<p>forms works! {{state}}</p>
<form nz-form [formGroup]="myForm"  (ngSubmit)="onSubmit()">
    <div *ngFor="let control of controls">
        <div class="mb-3" *ngIf="control.type == 'text'">
            <label for="exampleFormControlInput1" class="form-label">{{control.label}}</label>
            <input [value]="control.value" [formControlName]="control.name" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div> 

        <div class="mb-3" *ngIf="control.type == 'text_area'">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                  <nz-input-group nzPrefixIcon="user">
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
                    <input type="text" nz-input [formControlName]="control.name" placeholder="Username" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
        </div>
    </div>
    <div class="col-auto" style="width: 100%;">
        <button nz-button nzType="primary"  [disabled]="!myForm.valid" >Confirm identity</button>
    </div>
</form>